*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    border : 1px solid black;
    text-align : center;
}
li{
    cursor: pointer;
}
li:focus{
    background:lightcoral;
}
header{
    height: 15%;
    width: 100%;
}
.testdiv{

}